{{define "head"}}
<title>Home - Auth Web3 HTMX</title>


<script>
  /**
   * @param {string} value - Hex value
   */
  function hexStringToBytes(value) {
    if (typeof value === 'string' && value.match(/^0x([0-9a-f][0-9a-f])*$/i)) {
      const result = new Uint8Array((value.length - 2) / 2);
      let offset = 2;
      for (let i = 0; i < result.length; i++) {
        result[i] = parseInt(value.substring(offset, offset + 2), 16);
        offset += 2;
      }
      return result;
    }
    throw new Error('not a hex string');
  }

  async function login() {
    if (typeof window.ethereum === 'undefined') {
      alert('Metamask not detected');
    }
    try {
      // Fetch account
      const accounts = await window.ethereum.request({
        method: 'eth_requestAccounts',
      });
      const from = accounts[0];

      // Fetch challenge and sign
      let resp = await fetch('/auth/login');
      const challenge = await resp.text();
      const sig = await window.ethereum.request({
        method: 'personal_sign',
        params: [challenge, from],
      });

      // Submit challenge and signature
      const textEncoder = new TextEncoder();
      const challengeBytes = textEncoder.encode(challenge);
      const payload = {
        address: from,
        data: Array.from(challengeBytes),
        sig: Array.from(hexStringToBytes(sig)),
      };
      resp = await fetch('/auth/callback', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRF-Token': '{{ .CSRFToken }}',
        },
        body: JSON.stringify(payload),
      });

      window.location.reload();
    } catch (err) {
      console.error(err);
    }
  }
</script>
{{ end }}

{{define "body"}}
<header>
  {{ template "Nav" . }}
</header>

<main>
  {{if not .UserID }}
  {{ template "AuthCard" . }}
  {{ else }}
  <article>
    <header>
      <div>This is the home page.</div>
    </header>

    <main>
      <h3>Hello {{ .UserName }}!</h3>
    </main>

    <footer>
      <nav hx-boost="true">
        <ul>
          <li><a href="/counter">Go To Counter</a></li>
        </ul>
      </nav>
    </footer>
  </article>
  {{ end }}
</main>
{{ end }}
